
@import url('less.less'); /* LESS colors, font families, mixins and variables */
article, aside, figure, footer, header, hgroup, 
menu, nav, section { display: block; }
html { overflow-y: scroll; } /* force scrollbar */
html, body { height: 100%; }

/*.......................................................the usual*/
body
{
	color: @white;
	.os-sb;
	font-size: 14px;
}

h1
{
	font-family: "MyriadPro", Verdana, Arial, Helvetica, sans-serif;
	font-size: 60px;
	font-weight: normal;
	line-height: 72px;
}

h2
{
	
}

h3
{
	
}

h4
{
	
}

h5
{
	
}

h6
{
	
}

a
{
	
	:link
	{
		
	}
	
	:visited
	{
		
	}
	
	:hover
	{
		
	}
	
	:active
	{
		
	}
}

p
{
	.os-sb;
	text-align: justify;
}

strong
{
	font-weight: 700;
}

.article-wrapper
{
	min-height: 100%;
	min-width: 100%;
	padding-top: 160px;
}

/*.......................................................the home section*/
.article-wrapper#home
{
	background: url(../images/home-bg.jpg) no-repeat center center;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
	margin-top: -160px;
	position: relative;
}

.tagline
{
	font-family: 'MyriadPro', Verdana, Arial, Helvetica, sans-serif;
	font-size: 75px;
	font-weight: normal;
	line-height: 38px;
	padding-left: 100px;
	
	span.smaller
	{
		font-size: 37px;
		position: relative;
		top: -10px;
	}
	
	span.shift
	{
		position: relative;
		left: 130px;
	}
}

.featured
{
	text-align: center;
	margin-top: 425px;
	position: absolute;
	bottom: 310px;
	
	img	
	{
		display: block;
		float: left;
		position: relative;
	}
	
	img.bubble
	{
		top: -5px;
	}
	
	img.cage
	{
		top: -15px;
	}
}

/*.......................................................the who we are section*/
.article-wrapper#about
{
	background-color: @blue;
}

.big-sb
{
	.os-bold;
	font-size: 30px;
	text-align: center;
	padding: 50px 0;
	line-height: 30px;
	height: 365px;
	color: @blue;
	background: url(../images/big-sb.png) no-repeat top center;
	-webkit-background-size: auto auto;
	position: relative;
	top: -50px;
}

/*.......................................................the issue section*/
.article-wrapper#issue
{
	background: url(../images/issue-bg.jpg) no-repeat center center;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
}

.video-embed
{
	margin-top: 16px;
}

/*.......................................................the ways to give section*/
.article-wrapper#giving
{
	background-color: @orange;
}

article#giving
{

	h1
	{
		margin-bottom: 20px;
	}
	
	p
	{
		margin-bottom: 15px;
		text-align: left;
		
		span
		{
			font-size: 18px;
			text-transform: uppercase;
			padding-right: 20px;
		}
	}
	
	.small
	{
		margin-top: 30px;
	}
	
	.btn
	{
		color: @orange;
	}
	
	.amount
	{
		background-color: @white;
	}
	
	.trees
	{
		background: url(../images/trees.png) no-repeat;
		padding: 100px 0;
	}
	
	.paypal-logo
	{
		margin-left: 10px;
	}
}

/*.......................................................the get involved section*/
.article-wrapper#involved
{
	background-color: @white;
	color: #333;
	
	h1
	{
		margin-bottom: 30px;
	}
	
	.big-bc
	{
		position: relative;
		top: -153px;
		margin-bottom: -120px;
	}
	
	p
	{
		margin-top: -17px;
	}
	
	form
	{
		margin: 15px 0;
	}
	
	input.btn
	{
		position: relative;
		top: -5px;
	}
}

article#involved
{
	br
	{
		display: none;
	}
}

/*.......................................................the navigation*/
.navbar
{
	.brand
	{
		padding: 0 20px 40px 20px;
	}
	
	.nav
	{
		float: right;
		background-color: #333;
		.bottom-rounded-corners;
		
		.active > a.about,
		.active > a.about:hover
		{
			background-color: @blue;
		}
		
		.active > a.giving,
		.active > a.giving:hover
		{
			background-color: @orange;
		}
		
		.active > a.involved,
		.active > a.involved:hover
		{
			background-color: @white;
			color: @dark-grey;
		}
		
		.active a.home
		{
			.bottom-left-rounded-corners;
		}
		
		> li > a
		{
			padding: 3px 15px 3px;
			font-size: 14px;
			color: #fff;
			.os-light;
			text-transform: uppercase;
		}
	}
}

/*.......................................................the footer*/
footer
{
	height: 50px;
	background-color: @dark-grey;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
		
	p
	{
		line-height: 50px;
		color: @light-grey;
		.os-light;
			
		span
		{
			float: right;
				
			img
			{
				margin-left: 15px;
			}
		}
	}
}

p.easter-egg
{
	position: relative;
	bottom: 45px;
	color: @dark-grey;
}

/*.......................................................the forms*/
input[type="text"],
input[type="email"]
{
	width: 136px;
	height: 20px;
	padding: 6px;
	border: 2px solid #ccc;
	.os-light;
}

.placeholder 
{
  color: @light-grey;
}

/*.......................................................the images*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img 
{
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}

.alignleft,
img.alignleft 
{
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}

.alignright,
img.alignright 
{
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}

.aligncenter,
img.aligncenter 
{
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignleft,
img.alignright,
img.aligncenter 
{
	margin-bottom: 12px;
}

.wp-caption 
{
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
	
	img
	{
		margin: 5px 5px 0;
	}
	
	p.wp-caption-text 
	{
		color: #888;
		font-size: 12px;
		margin: 5px;
	}
}

.wp-smiley 
{
	margin: 0;
}

/*.......................................................the buttons*/
a.btn,
input.btn
{
	background-color: @dark-grey;
	color: @white;
	.os-sb;
	text-transform: uppercase;
}

/*.......................................................the utilities*/
.tal
{
	text-align: left;
}

.tac
{
	text-align: center;
}

.tar
{
	text-align: right;
}

.taj
{
	text-align: justify;
}

.clear
{
	clear: both;
}

.bu /* Bold, uppercase */
{
	font-weight: 700;
	text-transform: uppercase;
	margin: 50px 0 25px 0;
}

.small
{
	font-size: 12px;
	text-transform: normal;
}